img {
    aspect-ratio: 1 / 1;
}

.container {
    padding: 20px;
}

@media (min-width: 768px) {
    .container {
        padding: 40px 30px;
    }
}

/* 프로필 */
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.profile img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

.profile-name {
    font-size: 2.5em;
    font-weight: 700;
}

.profile-info {
    margin-top: 20px;
    color: #999;
}

.songs-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

/* 수록곡 목록 */
.song-wrap {
    margin-left: 30px;
}

.song-box {
    display: flex;
    justify-content: space-between;
    height: 110px;
    width: 100%;
    padding: 20px;
    transition: 0.3s;
}

.song-box:hover {
    border-radius: 10px;
    background-color: #e5e5e5;
}

.song-box:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
}

.song-details {
    display: flex;
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.song-box .album-img {
    width: 70px;
    margin-right: 10px;
    flex-shrink: 0;
}

.song-box .album-img img {
    height: 100%;
    border-radius: 3px;
}

.song-box .song-info {
    max-width: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.song-box .song-name {
    color: var(--main-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-box .song-etc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
    font-size: 14px;
}

.song-box .song-name,
.song-etc span {
    cursor: default;
}

.song-etc .artist-name:not(:last-child)::after {
    content: ' & ';
}

/* 아이콘 박스 */
.song-box:hover .icon-box {
    display: flex;
}

.icon-box {
    display: none;
    align-items: center;
    flex-shrink: 0;
    gap: 5px;
}

.icon-box a {
    display: flex;
    padding: 5px;
    fill: #5f5f5f;
    cursor: pointer;
    border-radius: 45%;
    transition: 0.3s;
}

.icon-box a svg {
    height: 35px;
}

.icon-box a:hover {
    fill: #fff;
    background-color: #5f5f5f;
}

.no-results {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #888;
}

/* 반응형 */
@media (max-width: 480px) {
    .profile img {
        width: 200px;
        height: 200px;
    }

    .profile-name {
        font-size: 2em;
    }

    .song-wrap {
        margin: 0;
    }

    .song-box .album-img {
        margin: 0;
    }

    .song-box .song-etc {
        font-size: 14px;
    }

    .song-box.visible .icon-box {
        display: flex;
    }
}

@media (max-width: 1024px) {
    .profile {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .profile img {
        margin-right: 0;
    }
}

.title-mark {
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 2px 5px;
    margin-right: 5px;
    display: inline-block;
}