.container {
    padding: 20px;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-info {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.artist-info img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.artist-name {
    font-size: 14px;
    color: #333;
}

.artist-info img,
.artist-name {
    cursor: pointer;
    transition: all 0.2s;
}

.artist-name:not(:last-child)::after {
    content: ' & ';
    color: #333;
}

.artist-name:hover {
    color: var(--main-color);
}

.music-platforms {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
    margin: 0 auto 20px;
    max-width: 600px;
}

.platform-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    flex: none;
    cursor: pointer;
}

@media (min-width: 480px) {
    .platform-btn {
        flex: 1;
    }
}

.platform-youtube {
    border: 1px solid var(--youtube-color);
    color: var(--youtube-color);
}

.platform-flo {
    border: 1px solid var(--flo-color);
    color: var(--flo-color);
}

.platform-genie {
    border: 1px solid var(--genie-color);
    color: var(--genie-color);
}

.platform-spotify {
    border: 1px solid var(--spotify-color);
    color: var(--spotify-color);
}

.song-img {
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 16px;
    border-radius: 0;
    overflow: hidden;
    position: relative;
}

.song-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.share-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    top: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.share-btn:hover .tooltip {
    top: 58px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.share-btn:hover span,
.share-btn:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.share-btn:hover,
.share-btn:hover .tooltip,
.share-btn:hover .tooltip::before {
    background: var(--kakao-color);
    color: var(--kakao-text-color);
}

.song-info {
    width: 100%;
    text-align: left;
    margin-bottom: 16px;
}

.song-info h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
    transition: 0.2s;
}

.song-info h2:hover {
    color: var(--main-color);
}

.song-info p {
    font-size: 13px;
    color: #666;
    display: flex;
    align-items: center;
    gap: 8px;
}

.recommend-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommends-rating {
    direction: rtl;
    font-size: 40px;
    margin: 16px 0;
    cursor: default;
}

.recommends-rating input {
    display: none;
}

.recommends-rating label {
    color: #ddd;
}

.recommends-rating input:checked~label {
    color: var(--main-color);
}

.recommends-comment {
    width: 100%;
    height: 120px;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background-color: #f8f9fa;
    resize: none;
    font-size: 14px;
    margin-bottom: 16px;
}

.recommends-comment::placeholder {
    color: #adb5bd;
}

.recommends-user,
.recommend-date {
    width: 100%;
    font-size: 13px;
    color: #666;
    text-align: right;
}