@media (min-width: 768px) {
    .container {
        padding: 0 20px;
    }
}

.search-text-box {
    font-size: 1.5rem;
    padding: 20px;
}

.search-text {
    color: var(--main-color);
}

.song-wrap {
    margin-left: 30px;
}

.song-box {
    display: flex;
    justify-content: space-between;
    height: 110px;
    width: 100%;
    padding: 20px;
    transition: 0.3s;
}

.song-box:hover {
    border-radius: 10px;
    background-color: #e5e5e5;
}

@media (max-width: 480px) {
    .song-box.visible {
        background-color: #e5e5e5;
    }
}

.song-box:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
}

.song-details {
    display: flex;
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.song-box .album-img {
    width: 70px;
    margin-right: 10px;
    flex-shrink: 0;
}

.song-box .album-img img {
    height: 100%;
    border-radius: 3px;
}

.song-box .song-info {
    max-width: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.song-box .song-name {
    color: var(--main-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-box .song-etc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-box .song-name,
.song-etc span {
    cursor: default;
}

.song-etc .artist-name:not(:last-child)::after {
    content: ' & ';
}

@media (max-width: 480px) {
    .song-wrap {
        margin: 0;
    }

    .song-box .album-img {
        margin: 0;
    }

    .song-box .song-etc {
        font-size: 14px;
    }

    /* 모바일에서는 클릭 시 icon box 노출(js) */
    .song-box.visible .icon-box {
        display: flex;
    }
}

.song-box:hover .icon-box {
    display: flex;
}

.icon-box {
    display: none;
    align-items: center;
    flex-shrink: 0;
    gap: 5px;
}

.icon-box a {
    display: flex;
    padding: 5px;
    fill: #5f5f5f;
    cursor: pointer;
    border-radius: 45%;
    transition: 0.3s;
}

.icon-box a svg {
    height: 35px;
}

.icon-box a:hover {
    fill: #fff;
    background-color: #5f5f5f;
}

.not-found {
    margin-top: 50px;
    text-align: center;
    color: #686868;
}

.not-found svg {
    fill: #686868;
    width: 96px;
    height: 96px;
}

.not-found .not-found-text {
    margin: 30px 0;
    font-size: 1.3em;
}

.not-found .another-text {
    font-size: 1em;
}